@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Barlow:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #efba5c;
    background-color: #e5e5f7;
    font-family: 'Lato';
}

a {
    color: #603203;
    text-decoration: none;
    /* font-size: 40px; */
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation*/

.nav-main {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 200px;
}

.icono {
    border-radius: 200px;
}

.menu-btn {
    color: #603203;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    display: none;
}


/* NAV LEFT */

.nav-main ul {
    display: flex;
    margin-bottom: 10px;
}

.nav-main ul li {
    padding: 10px;
}


.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
    margin-bottom: 20px;
}

.nav-main ul.nav-menu img {
    width: 35px;
    margin-left: 15px;
}


/* SHOWCASE */

.showcase {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    color: #e5e5f7;
    background: url("../assets/pexels-toni-cuenca-585750.jpg") no-repeat center center/cover;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 40px;
    padding: 0 0;
}

.showcase h1 {
    padding: 60px 0 0 40px;
    width: 40%;
    font-size: 30px;
    
}

.showcase p {
    width: 40%;
    padding: 40px 0 0 40px;
    font-size: 20px;
}

/* ABOUT */

.content_container {
    padding: 0 0;
}

.icon-brand {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 200px;
}

.about_section {
    padding: 80px;
    color: white;
    width: 100%;
    margin: 0 auto;
}

.about_content {
    display: flex;
    align-items: center;
}

.duck-brand {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: -5px 5px 10px rgba(136, 88, 24, 0.473);
}

.about_text {
    font-weight: normal;
    font-size: 18px;
    max-width: 800px;
    padding-left: 40px;
    line-height: 26px;
}

/* TYPES OF ROAST*/

.roast {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    width: 100%;
}

.roast img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 200px;
    margin-top: 20px;
}

.left, .right {
    width: 100%;
    max-width: 910px;
    padding: 20px;
}

.left h3, .right h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left p, .right p {
    font-size: 1.2rem;
}

.roast_right,
.roast_left {
    display: flex;
    align-items: center;
}

/* BREW METHODS */

.process_container {
    display: flex;
    align-items: center;
    padding: 18px;
}

.step_list li {
    list-style: disc;
    margin-bottom: 10px;
    margin-left: 40px;
}

.pour-over_container {
    padding: 18px;
}

/* COUNTRIES */

#coffeeByCountries {
    text-align: center;
}

.countries_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.contries_container, h1{
    padding-top: 80px;
}

.brazil, .colombia,
.vietnam, .etiopia,
.costa_rica, .argentina {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.countries_names {
    padding: 20px;
}

.flags {
    width: 20%;
    margin-bottom: 10px;
}

.info_country p {
    text-align: justify;
    line-height: 1.5;
}

.countries_container .details .info_country {
    height: 215px;
    overflow: hidden;
}

.countries_container .details .more {
    background: #603203;
    padding: 15px 15px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #ddd;
    font-size: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.details.active .more {
    background: #efba5c;
    color: #603203;
}

.countries_container .details.active .info_country {
    height: auto;
}

.countries_container .details .info_country::before {
    content: '';
}

.countries_container .details.active .info_country::before {
    display: none;
}

.more::before {
    content: 'Read More';
}

.details.active .more::before {
    content: 'Read Less';
}

/* BANNER & FOOTER */

.banner {
    width: 100%;
    height: 350px;
    background: url("../assets/plant.jpg");
    margin-bottom: 40px;
    margin-top: 110px;
    border-radius: 15px;
}

.banner .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #e5e5f7;
}

.banner p,
.banner h4 {
    margin: 10px 0 0 20px;
    font-size: 22px;
}

.footer {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 25px;
}

/* RESPONSIVE */

@media (max-width: 1200px) {

}

@media (max-width: 960px) {
   
    .roast {
        grid-template-columns: repeat(2, 1fr);
    }

    .roast img {
        width: 100%;
    }

    .banner .content {
        width: 80%;
    }

    .showcase h2,
    .showcase p {
        width: 80%;
    }
}

@media (max-width: 800px) {}

@media (max-width: 600px) {
    .roast {
        grid-template-columns: 1fr;
    }

    .roast img {
        height: 60%;
        width: 100%;
    }

    .banner .content {
        width: 94%;
        padding: 60px 20px;
    }

    .nav-main ul.nav-menu {
        position: absolute;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-2px);
    }

}

@media (max-width: 360px) {}
